@import 'variables';

body {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.75rem;
    line-height: 1.4;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 1.125rem;
    }
}

h6 {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;

    @media (max-width: $mdMax) {
        font-size: 0.875rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.8;
    font-weight: normal;

    @media (max-width: $mdMax) {
        font-size: 0.875rem;
    }
}
