// Color Palette

$dark: #000000;
$light: #ffffff;

$purple: #8c0375;
$magenta: #c004d9;
$violet: #9303a6;
$indigo: #5d04d9;
$blue: #03318c;

// Breakpoints
$xsMax: 575.98px;

$smMin: 576px;
$smMax: 767.98px;

$mdMin: 768px;
$mdMax: 991.98px;

$lgMin: 992px;
$lgMax: 1199.98px;

$xlMin: 1200px;
$xlMax: 1399.98px;

$xxlMin: 1400px;
