@import '../variables';

.footer {
    text-align: center;
    padding: 64px 0;
    background-color: $blue;
    color: $light;

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin: 10px 0;
        font-size: 0.9em;
    }
}
