main {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 60px;
    padding-bottom: 60px;

    .row {
        @media (max-width: $mdMax) {
            flex-direction: column-reverse;
        }
    }

    .title {
        text-align: center;
        text-transform: uppercase;
    }

    .products-area,
    .forms-area {
        padding: 40px;
    }


    .forms-area {
        display: flex;
        flex-direction: column;
        gap: 24px;

        input {
            border-radius: 30px;
            padding: 16px;
            color: $blue;
            border: 3px solid $blue ;

            &::placeholder {
                color: $blue;
            }
        }

        .buttons-area {
            display: flex;
            justify-content: space-between;
            gap: 12px;

            @media (max-width: $xsMax) {
                flex-direction: column;
            }

            .btn {
                border-radius: 15px;
                font-size: 16px;
                padding-top: 16px;
                padding-bottom: 16px;
                width: 100%;

                &.btn-save {
                    background-color: $blue;
                    color: $light;

                    &:hover {
                        background-color: $indigo;
                        color: $light;
                    }
                }

                &.btn-clean {
                    background-color: $light;
                    border: 3px solid $blue;
                    color: $blue;

                    &:hover {
                        background-color: $indigo;
                        border-color: $indigo;
                        color: $light;
                    }
                }
            }
        }
    }
}